*.swn
voxel
*.swp
*.swo
*~
*pyc
vis/
log
ckpt
*#*
data
*mp4
*png
*npz
vids*
profile*
bench/tfrs*
*.npy
*.npz
*.tfr
*.stl
*.binvox
*.zip
memory.log
memory_log
old_logs
timeline.json
*tfrs
*.jpg
*.gif
*.bak
ckpt_cfg/*
todo
gqn-dataset
MNIST_data/
saved_weights
double_tfrs_tmp
frozen_graph/
*.mat
voxels
